@page
@model JurisTempus.ContactModel
@section Scripts {
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@{
  ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<form method="post">
  <div class="form-group">
    <div asp-validation-summary="All"></div>
    <label asp-for="ViewModel.Email">Email:</label>
    <input class="form-control" asp-for="ViewModel.Email" />
  </div>
  <div class="form-group">
    <label asp-for="ViewModel.Subject">Subject: </label>
    <input class="form-control" asp-for="ViewModel.Subject" />
  </div>
  <div class="form-group">
    <label asp-for="ViewModel.Message">Message:</label>
    <textarea class="form-control" rows="5" asp-for="ViewModel.Message"></textarea>
  </div>
  <div class="form-group">
    <a href="/" class="btn btn-info">Cancel</a>
    <input type="submit" class="btn btn-success" value="Send" />
  </div>
</form>

